body {
  background: linear-gradient(135deg, #f3f7ff, #e8eefc);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header .icon {
  font-size: 40px;
  color: #0a58ff;
}

.header h2 {
  margin: 10px 0 5px;
  color: #0a58ff;
  font-weight: 600;
}

.header p {
  font-size: 18px;
  color: #333;
  margin: 5px 0;
}

.header small {
  color: #777;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #333;
  margin-top: 15px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #0a58ff;
}

button {
  background-color: #0a58ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #004ce0;
}
